::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: black !important;
    background-color: transparent !important;
 }
 ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: red;
  background-color: red !important;
}
 ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: green;
  background-color: green !important;
}