<div class="row-sm">
  <div class="header">
    <div class="title-header">
      <h2 class="page-title">Danh sách cấu hình hệ thống</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Quản lý cấu hình</li>
        <li class="breadcrumb-item">Danh sách cấu hình</li>
      </ol>
    </div>
  </div>
  <div class="table-responsive">
    <div class="table-table example-container">
      <div
        class="table-container"
        style="flex: 1 1 1e-9px; box-sizing: border-box"
      >
        <table
          id="tblUserList"
          mat-table
          [dataSource]="dataSource"
          matSort
          [ngClass]="{ 'h-100': !dataSource.data.length }"
        >
          <ng-container matColumnDef="setting-description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cấu hình</th>
            <td mat-cell *matCellDef="let row" data-label="Description">
              {{ row.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá trị</th>
            <td mat-cell *matCellDef="let row" data-label="Value">
              {{ row.value }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Loại cấu hình
            </th>
            <td mat-cell *matCellDef="let row" data-label="Type">
              {{ row.type }}
            </td>
          </ng-container>
          <ng-container matColumnDef="data-type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Loại dữ liệu
            </th>
            <td mat-cell *matCellDef="let row" data-label="DataType">
              {{ row.dataType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="data-unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Đơn vị tính
            </th>
            <td mat-cell *matCellDef="let row" data-label="DataUnit">
              {{ row.dataUnit }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Hành động</th>
            <td mat-cell *matCellDef="let element" data-label="Actions">
              <button
                id="btnUpdateDevice"
                class="btn"
                matTooltip="Edit"
                matTooltipPosition="above"
                (click)="editSetting(element)"
              >
                <!-- (click)="editSetting(element)" -->

                <i class="fas fa-edit"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row mat-row-nodata" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              <!-- <app-empty-table></app-empty-table> -->
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator
        [length]="totalItems"
        [pageIndex]="pageNumber"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
