<div class="row-sm">
  <div class="page-header">
    <div class="title-header">
      <h2 class="page-title">Danh sách giấy tờ</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Quản lý giấy tờ</li>
        <li class="breadcrumb-item">Danh sách giấy tờ</li>
      </ol>
    </div>
    <!-- <div
      class="ms-auto pageheader-btn"
      style="display: inherit; align-items: center"
    >
      <a
        id="btnAddRole"
        (click)="addUserLicense()"
        class="btn btn-icon text-white me-2 px-3"
        data-swal-template="#my-template"
        ><span><i class="fas fa-plus mx-1"></i></span>Thêm mới
      </a>
    </div> -->
  </div>
  <div class="table-responsive">
    <div class="table-table example-container">
      <div
        class="table-container"
        style="flex: 1 1 1e-9px; box-sizing: border-box"
      >
        <table
          id="tblUserLicenseList"
          mat-table
          [dataSource]="dataSource"
          matSort
          [ngClass]="{ 'h-100': !dataSource.data.length }"
        >
          <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                    ></mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    ></mat-checkbox>
                  </td>
                </ng-container> -->
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
            <td mat-cell *matCellDef="let row" data-label="Created Time">
              {{ row.createdTime | date : "dd/MM/yyyy, HH:mm" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Người dùng
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              data-label="Người giấy phép lái xe"
            >
              {{ row.user.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="licenseType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Loại giấy tờ
            </th>
            <td mat-cell *matCellDef="let row" data-label="Loại giấy phép">
              {{ getUserLicenseType(row.licenseType) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Số điện thoại
            </th>
            <td mat-cell *matCellDef="let row" data-label="Số điện thoại">
              {{ row.user.phone }}
            </td>
          </ng-container>

          <ng-container matColumnDef="frontSideFile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mặt trước</th>
            <td mat-cell *matCellDef="let row" data-label="Mặt trước">
              <!-- {{ row.frontSideFile }} -->
              <button
                mat-stroked-button
                color="primary"
                (click)="showImage(row.frontSideFile)"
              >
                Xem ảnh
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="backSideFile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mặt sau</th>
            <td mat-cell *matCellDef="let row" data-label="Mặt sau">
              <!-- {{ row.backSideFile }} -->
              <button
                mat-stroked-button
                color="primary"
                (click)="showImage(row.backSideFile)"
              >
                Xem ảnh
              </button>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Trạng thái
              </th>
              <td mat-cell *matCellDef="let row" data-label="Trạng thái">
                {{ row.status }}
              </td>
            </ng-container> -->
          <!-- 
                  <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sinh</th>
                    <td mat-cell *matCellDef="let row" data-label="dateOfBirth">
                      {{ row.dateOfBirth }}
                    </td>
                  </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
            <td mat-cell *matCellDef="let row" data-label="Actions">
              <mat-checkbox
                class="example-margin"
                [checked]="row.status == 'APPROVED'"
                [indeterminate]="row.status === 'REJECTED'"
                (change)="updatUserLicense(row.id, row.status)"
                >{{ getUserLicenseStatus(row.status) }}</mat-checkbox
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row mat-row-nodata" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              <!-- <app-empty-table></app-empty-table> -->
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator
        [length]="totalItems"
        [pageIndex]="pageNumber"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
