<div>
  <div class="modal-header">
    <h2 class="modal-title">Tạo mới giấy tờ</h2>
    <button (click)="cancel()" aria-label="Close" class="btn-close"></button>
  </div>

  <div class="modal-body">
    <form
      id="createUserLicenseForm"
      [formGroup]="createUserLicenseForm"
      class="input-infor mt-1"
      #myForm="ngForm"
    >
      <div class="row row-sm align-items-center">
        <div class="col-xxl-6">
          <div class="card overflow-hidden">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <div class="">
                  <span>{{ "Overview Image" }}</span>
                </div>
                <div class="ms-auto">
                  <div class="head-image">
                    <button
                      class="btn"
                      matTooltip="Upload"
                      matTooltipPosition="above"
                      (click)="uploaderoverview.click()"
                    >
                      <input
                        hidden
                        type="file"
                        accept="image/*"
                        #uploaderoverview
                        (change)="uploadImage($event)"
                      />
                      <i class="fas fa-upload mx-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <img
                [src]="'../assets/img/image_not_available.png'"
                alt="Girl in a jacket"
                width="200"
                height="200"
                class="d-flex mx-auto"
              />
            </div>
          </div>
        </div>
        <div class="col-xxl-6">
          <div class="card overflow-hidden">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <div class="">
                  <span>{{ "Detail Image" }}</span>
                </div>
                <div class="ms-auto">
                  <div class="head-image">
                    <button
                      class="btn"
                      matTooltip="Upload"
                      matTooltipPosition="above"
                      (click)="uploader.click()"
                    >
                      <input
                        hidden
                        type="file"
                        accept="image/*"
                        #uploader
                        (change)="uploadImage($event)"
                      />
                      <i class="fas fa-upload mx-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <img
                [src]="'../assets/img/image_not_available.png'"
                alt="Girl in a jacket"
                width="200"
                height="200"
                class="d-flex mx-auto"
              />
            </div>
          </div>
        </div>
      </div>
      <br />

      <mat-form-field appearance="outline">
        <mat-label>Tên</mat-label>
        <input
          id="txtname"
          matInput
          placeholder="Name"
          formControlName="licenseType"
          required
        />
        <mat-error *ngIf="createUserLicenseForm.controls['name']"
          >Tên là phần bắt buộc</mat-error
        >
      </mat-form-field>
    </form>

    <div class="modal-footer">
      <button
        id="btnSave"
        class="btn positive"
        mat-raised-button
        color="primary"
        (click)="update()"
      >
        Lưu
      </button>
    </div>
  </div>
</div>
