<div class="app-header header sticky d-flex">
  <div class="nav me-auto align-items-center">
    <button id="toggleSidebar" class="navbar-icon" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <!-- <div class="container-nav align-items-center"> -->
  <!-- <mat-form-field class="header_notif" appearance="fill">

      <mat-label>{{ version }}</mat-label>
      <mat-select id="btnVersion">
        <mat-option
          #matOption
          *ngFor="let food of options"
          [value]="food.key"
          (click)="getVersion(food.key)"
        >
          {{ food.value }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  <!-- <div class="dropdown">
      <button
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-user-circle"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a id="btnLogout" class="dropdown-item" (click)="Logout()">Logout</a>
        </li>
        <li>
          <a id="btnProfile" class="dropdown-item" href="profile">Profile</a>
        </li>
      </ul>
    </div>
    <button id="btnNoti">
      <i class="far fa-bell"></i>
    </button>
  </div> -->
  <!-- Mobile Header -->
</div>
