<div class="app-header header sticky d-flex">
  <div class="nav me-auto align-items-center">
    <button id="toggleSidebar" class="navbar-icon" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <div class="container-nav align-items-center">
    <div class="dropdown">
      <button
        type="button"
        id="dropdownMenuButton12"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-user-circle"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
        <li>
          <a id="btnLogout" class="dropdown-item" (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Mobile Header -->
</div>
