

.rtl .container-login100 .box ul li {
    float: right;
}

.rtl .symbol-input100 {
    padding-right: 22px !important;
    padding-left: inherit;
}

.rtl .input100 {
    padding: 0 54px 0 30px !important;
}
.col-login {
    max-width: 24rem;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.text-center {
    text-align: center !important;
}
.header-brand-img {
    height: 8.25rem;
    line-height: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    width: auto;
}

.login-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
}
.container-login100 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 999;
}
.wrap-login100 {
    /*width: 960px;*/
    background: #fff;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 137px 130px 137px 95px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/*[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.container-login100 .box .social-icons {
    position: relative;
}

.container-login100 .box ul {
    margin: 0;
    padding: 0;
}

.container-login100 .box ul li {
    list-style: none;
    float: left;
    padding: 7px 7px;
}

.container-login100 .box ul li a {
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}


.row-cards>.col,
.row-cards>[class*=col-] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



/*------ Card -------*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: inherit !important;
    background-clip: border-box;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 25px;
    margin: 0;
    position: relative;
}

.card-subtitle {
    margin-top: -0.75rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.5rem;
}

.card-header:first-child {
    border-radius: 2px 2px 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 1.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #eaedf1;
    color: #6e7687;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-img {
    width: 100%;
    border-radius: 2px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-deck .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }

    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0.75rem;
        margin-bottom: 0;
        margin-left: 0.75rem;
    }
    .login-img .custom-layout {
        top: 7px;
        right: 20px;
    }
}

.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-group>.card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-group {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-top,
    .card-group>.card:first-child .card-header {
        border-top-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-bottom,
    .card-group>.card:first-child .card-footer {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-top,
    .card-group>.card:last-child .card-header {
        border-top-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-bottom,
    .card-group>.card:last-child .card-footer {
        border-bottom-left-radius: 0;
    }

    .card-group>.card:only-child {
        border-radius: 3px;
    }

    .card-group>.card:only-child .card-img-top,
    .card-group>.card:only-child .card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .card-group>.card:only-child .card-img-bottom,
    .card-group>.card:only-child .card-footer {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}


.card-blog-overlay:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.card-blog-overlay1:before,
.card-blog-overlay2:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

/*------ Default Card Values -------*/
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.card .card {
    border: 1px solid #eaedf1;
}

@media print {
    .card {
        box-shadow: none;
        border: none;
    }
}

.card-body+.card-body {
    border-top: 1px solid #eaedf1;
}

.card-body> :last-child {
    margin-bottom: 0;
}

@media print {
    .card-body {
        padding: 0;
    }
}

.card-body-scrollable {
    overflow: auto;
}

.card-footer,
.card-bottom {
    padding: 1rem 1.5rem;
    background: none;
}

.card-header {
    background: none;
    padding: 1rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #eaedf1;
}

.card-header .card-title {
    margin-bottom: 0;
}

.card-header.border-0+.card-body {
    padding-top: 0;
}

@media print {
    .card-header {
        display: none;
    }
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.reg {
    text-align: center;
    font-size: 50px;
    color: #2e1170;
    float: right;
}

.card-title a {
    color: inherit;
}

.card-title:only-child {
    margin-bottom: 0;
}

.card-title small {
    color: #9aa0ac;
    font-size: 0.875rem;
    display: block;
    margin: -0.75rem 0 1rem;
    line-height: 1.1;
    font-weight: 400;
}

.card-subtitle {
    color: #9aa0ac;
    font-size: 0.875rem;
    display: block;
    margin: -0.75rem 0 1rem;
    line-height: 1.1;
    font-weight: 400;
}

.card-table {
    margin-bottom: 0;
}

.card-table tr:first-child td,
.card-table tr:first-child th {
    border-top: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.5rem !important;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.5rem;
}

.card-body+.card-table {
    border-top: 1px solid #eaedf1;
}

.card-profile .card-header {
    height: 5rem;
    background-size: cover;
    border: 0;
}

.card-link+.card-link {
    margin-left: 1rem;
}

.card-body+.card-list-group {
    border-top: 1px solid #eaedf1;
}

.card-list-group .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-list-group .list-group-item:last-child {
    border-bottom: 0;
}

.card-list-group .list-group-item:first-child {
    border-top: 0;
}

.card-header-tabs {
    margin: -1.25rem 0;
    border-bottom: 0;
    line-height: 2rem;
    margin-right: -0.75rem;
    margin-bottom: -1.5rem;
    margin-left: -0.75rem;
}

.card-header-tabs .nav-item {
    margin-bottom: 1px;
}

.card-header-pills {
    margin: -0.75rem 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.card-aside {
    -ms-flex-direction: row;
    flex-direction: row;
}

.card-aside-column {
    min-width: 5rem;
    width: 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    background: no-repeat center/cover;
}

.card-value {
    font-size: 1rem;
    line-height: 3.4rem;
    height: 3.4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}

.card-value i {
    vertical-align: middle;
    font-size: 30px;
}

.card-chart-bg {
    height: 4rem;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card-options {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 100;
    order: 100;
    margin-right: -0.5rem;
    color: #9aa0ac;
    -ms-flex-item-align: center;
    align-self: center;
}

.card-options a:not(.btn) {
    margin-left: 0.5rem;
    color: #76839a;
    display: inline-block;
    min-width: 1rem;
}

.card-options a:not(.btn):hover {
    text-decoration: none;
    color: #6e7687;
}

.card-options a:not(.btn) i {
    font-size: 1rem;
    vertical-align: middle;
}

.card-options .dropdown-toggle:after {
    display: none;
}

.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%;
}

.card-img-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: -28px;
}

.card-image {
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: -126px;
}

/*Card options*/
.card-collapsed> :not(.card-header):not(.card-status) {
    display: none;
}

.card-collapsed .card-options-collapse i:before {
    content: "\e92d";
}

.card-fullscreen .card-options-fullscreen i:before {
    content: "\e992";
}

.card-fullscreen .card-options-remove {
    display: none;
}

/*Card maps*/
.card-map {
    height: 15rem;
    background: #e9ecef;
}

.card-map-placeholder {
    background: no-repeat center;
}

/**Card tabs*/
.card-tabs {
    display: -ms-flexbox;
    display: flex;
}

.card-tabs-bottom .card-tabs-item {
    border: 0;
}

.card-tabs-bottom .card-tabs-item.active {
    border-top-color: #fff;
}

.card-tabs-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    padding: 1.4rem 1.5rem;
    color: inherit;
    overflow: hidden;
}

a.card-tabs-item {
    background: #fafbfc;
}

a.card-tabs-item:hover {
    text-decoration: none;
    color: inherit;
}

a.card-tabs-item:focus {
    z-index: 1;
}

a.card-tabs-item.active {
    background: #fff;
    border-bottom-color: #fff;
}

/**Card status*/
.card-status {
    position: absolute;
    top: -1px;
    left: 0px;
    right: 0px;
    height: 3px;
    border-radius: 7px 7px 0 0;
}

.card-status-left {
    right: auto;
    bottom: 0;
    height: auto;
    width: 3px;
    border-radius: 3px 0 0 3px;
}

/**Card icon*/
.card-icon {
    width: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

/**Card fullscreen*/
.card-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 0;
}

/**Card alert*/
.card-alert {
    border-radius: 0;
    margin: -1px -1px 0;
}

.card-category {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: 0.5rem;
    background: #f1f1f9;
    padding: 0.35rem;
    border-radius: 5px;
}

.item-card .cardbody {
    position: relative;
    padding: 30px 15px;
    border-radius: 0 0 0.2rem 0.2rem;
}

.item-card .cardtitle span {
    display: block;
    font-size: 0.75rem;
}

.item-card .cardtitle a {
    color: #707070;
    font-weight: 500;
    text-decoration: none;
}

.item-card .cardprice {
    position: absolute;
    top: 30px;
    right: 15px;
}

.item-card .cardprice span {
    display: block;
    color: #707070;
}

.item-card .cardprice span.type--strikethrough {
    opacity: 0.7;
    text-decoration: line-through;
}

.card-padding {
    padding: 14px 2px 2px 11px;
}

.card-items {
    padding: 10px;
}

.card .box .img img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card .box h2 span {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card .box p {
    color: #262626;
}

.card-counter {
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 7px;
    transition: 0.3s linear all;
    margin-bottom: 1.5rem;
}

.card-counter:hover {
    transition: 0.3s linear all;
}

.card-counter.primary {
    color: #FFF;
}

.card-counter.secondary {
    background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
    color: #FFF;
}

.card-counter.success {
    background: linear-gradient(to bottom right, #62fb62, #21a544) !important;
    color: #FFF;
}

.card-counter.info {
    background: linear-gradient(to bottom right, #00f2fe 0%, #1e63c3 100%) !important;
    color: #FFF;
}

.card-counter i {
    font-size: 4rem;
    opacity: 0.3;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.card-label {
    border: 0;
}

.card-label.list-group-item {
    border-bottom: 0;
}

.card-img-holder i {
    font-size: 45px;
}

.card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-aside-img {
    position: relative;
}

.card-aside-img img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.card-aside-img.wrap-border img {
    border: 1px solid rgba(167, 180, 201, 0.3);
    padding: 3px;
}

.card-aside-img a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-item-desc {
    padding: 15px;
}

.card-item-desc h6 {
    margin-top: 5px;
}

.card-blogs .card {
    border: none;
    box-shadow: none;
}

.card-blogs1 .card {
    box-shadow: none;
    border-bottom: 1px solid rgba(167, 180, 201, 0.3);
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.card-blogs1 .card:last-child {
    box-shadow: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-blogs1 .card-item-desc .card-item-price .newprice {
    font-weight: 600;
}

.card-blogs1 .card-item-desc .card-item-price .oldprice {
    font-size: 14px;
}

.card-blogs2 .card {
    border: none;
    box-shadow: none;
}

/*------ Card -------*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid transparent;
    background-clip: border-box;
    border-radius: 5px;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    position: relative;
}

.card-subtitle {
    margin-top: -0.75rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.5rem;
}

.card-header:first-child {
    border-radius: 2px 2px 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 1.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #eaedf1;
    color: #6e7687;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-img {
    width: 100%;
    border-radius: 2px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-deck .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }

    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0.75rem;
        margin-bottom: 0;
        margin-left: 0.75rem;
    }
}

.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-group>.card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-group {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-top,
    .card-group>.card:first-child .card-header {
        border-top-right-radius: 0;
    }

    .card-group>.card:first-child .card-img-bottom,
    .card-group>.card:first-child .card-footer {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-top,
    .card-group>.card:last-child .card-header {
        border-top-left-radius: 0;
    }

    .card-group>.card:last-child .card-img-bottom,
    .card-group>.card:last-child .card-footer {
        border-bottom-left-radius: 0;
    }

    .card-group>.card:only-child {
        border-radius: 3px;
    }

    .card-group>.card:only-child .card-img-top,
    .card-group>.card:only-child .card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .card-group>.card:only-child .card-img-bottom,
    .card-group>.card:only-child .card-footer {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0;
    }

    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}


.card-blog-overlay:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 5px;
}

.card-blog-overlay1:before,
.card-blog-overlay2:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 5px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    display: block;
    width: 100%;
    background: #ffffff;
    height: 45px;
    padding: 0 30px 0 54px;
    border-radius: 5px;
    border: 1px solid #ecf0fa;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    text-transform: uppercase;
    background: var(--primary-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.symbol-input100 {
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 22px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    color: #828996;
}

.login100-pic {
    width: 316px;
}

.login100-pic img {
    max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
    width: 320px;
}

.login100-form-title {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
    color: #424344;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    text-transform: uppercase;
    background: var(--primary-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input100.focus-input100+.symbol-input100 {
    text-transform: uppercase;
    background: var(--primary-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.login100-form-btn {
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border-radius: 5px;
}

/*------ Default Card Values -------*/
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.card .card {
    border: 1px solid #eaedf1;
}

@media print {
    .card {
        box-shadow: none;
        border: none;
    }
}

.card-body+.card-body {
    border-top: 1px solid #eaedf1;
}

.card-body> :last-child {
    margin-bottom: 0;
}

@media print {
    .card-body {
        padding: 0;
    }
}

.card-body-scrollable {
    overflow: auto;
}

.card-footer,
.card-bottom {
    padding: 1rem 1.5rem;
    background: none;
}

.card-header {
    background: none;
    padding: 1rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    background-color: transparenrt;
    border-bottom: 1px solid #eaedf1;
}

.card-header .card-title {
    margin-bottom: 0;
}

.card-header.border-0+.card-body {
    padding-top: 0;
}

@media print {
    .card-header {
        display: none;
    }
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.reg {
    text-align: center;
    font-size: 50px;
    color: #2e1170;
    float: right;
}

.card-title a {
    color: inherit;
}

.card-title:only-child {
    margin-bottom: 0;
}

.card-title small {
    color: #9aa0ac;
    font-size: 0.875rem;
    display: block;
    margin: -0.75rem 0 1rem;
    line-height: 1.1;
    font-weight: 400;
}

.card-subtitle {
    color: #9aa0ac;
    font-size: 0.875rem;
    display: block;
    margin: -0.75rem 0 1rem;
    line-height: 1.1;
    font-weight: 400;
}

.card-table {
    margin-bottom: 0;
}

.card-table tr:first-child td,
.card-table tr:first-child th {
    border-top: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.5rem;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.5rem;
}

.card-body+.card-table {
    border-top: 1px solid #eaedf1;
}

.card-profile .card-header {
    height: 5rem;
    background-size: cover;
    border: 0;
}

.card-link+.card-link {
    margin-left: 1rem;
}

.card-body+.card-list-group {
    border-top: 1px solid #eaedf1;
}

.card-list-group .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-list-group .list-group-item:last-child {
    border-bottom: 0;
}

.card-list-group .list-group-item:first-child {
    border-top: 0;
}

.card-header-tabs {
    margin: -1.25rem 0;
    border-bottom: 0;
    line-height: 2rem;
    margin-right: -0.75rem;
    margin-bottom: -1.5rem;
    margin-left: -0.75rem;
}

.card-header-tabs .nav-item {
    margin-bottom: 1px;
}

.card-header-pills {
    margin: -0.75rem 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.card-aside {
    -ms-flex-direction: row;
    flex-direction: row;
}

.card-aside-column {
    min-width: 5rem;
    width: 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    background: no-repeat center/cover;
}

.card-value {
    font-size: 1rem;
    line-height: 3.4rem;
    height: 3.4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}

.card-value i {
    vertical-align: middle;
    font-size: 30px;
}

.card-chart-bg {
    height: 4rem;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card-options {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 100;
    order: 100;
    margin-right: -0.5rem;
    color: #9aa0ac;
    -ms-flex-item-align: center;
    align-self: center;
}

.card-options a:not(.btn) {
    margin-left: 0.5rem;
    color: #76839a;
    display: inline-block;
    min-width: 1rem;
}

.card-options a:not(.btn):hover {
    text-decoration: none;
    color: #6e7687;
}

.card-options a:not(.btn) i {
    font-size: 1rem;
    vertical-align: middle;
}

.card-options .dropdown-toggle:after {
    display: none;
}

.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%;
}

.card-img-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: -28px;
}

.card-image {
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: -126px;
}

/*Card options*/
.card-collapsed> :not(.card-header):not(.card-status) {
    display: none;
}

.card-collapsed .card-options-collapse i:before {
    content: "\e92d";
}

.card-fullscreen .card-options-fullscreen i:before {
    content: "\e992";
}

.card-fullscreen .card-options-remove {
    display: none;
}

/*Card maps*/
.card-map {
    height: 15rem;
    background: #e9ecef;
}

.card-map-placeholder {
    background: no-repeat center;
}

/**Card tabs*/
.card-tabs {
    display: -ms-flexbox;
    display: flex;
}

.card-tabs-bottom .card-tabs-item {
    border: 0;
}

.card-tabs-bottom .card-tabs-item.active {
    border-top-color: #fff;
}

.card-tabs-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    padding: 1.4rem 1.5rem;
    color: inherit;
    overflow: hidden;
}

a.card-tabs-item {
    background: #fafbfc;
}

a.card-tabs-item:hover {
    text-decoration: none;
    color: inherit;
}

a.card-tabs-item:focus {
    z-index: 1;
}

a.card-tabs-item.active {
    background: #fff;
    border-bottom-color: #fff;
}

/**Card status*/
.card-status {
    position: absolute;
    top: -1px;
    left: 0px;
    right: 0px;
    height: 3px;
    border-radius: 7px 7px 0 0;
}

.card-status-left {
    right: auto;
    bottom: 0;
    height: auto;
    width: 3px;
    border-radius: 3px 0 0 3px;
}

/**Card icon*/
.card-icon {
    width: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

/**Card fullscreen*/
.card-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0;
}

/**Card alert*/
.card-alert {
    border-radius: 0;
    margin: -1px -1px 0;
}

.card-category {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: 0 0 0.5rem;
    background: #f1f1f9;
}

.item-card .cardbody {
    position: relative;
    padding: 30px 15px;
    border-radius: 0 0 0.2rem 0.2rem;
}

.item-card .cardtitle span {
    display: block;
    font-size: 0.75rem;
}

.item-card .cardtitle a {
    color: #707070;
    font-weight: 500;
    text-decoration: none;
}

.item-card .cardprice {
    position: absolute;
    top: 30px;
    right: 15px;
}

.item-card .cardprice span {
    display: block;
    color: #707070;
}

.item-card .cardprice span.type--strikethrough {
    opacity: 0.7;
    text-decoration: line-through;
}

.card-padding {
    padding: 14px 2px 2px 11px;
}

.card-items {
    padding: 10px;
}

.card .box .img img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card .box h2 span {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card .box p {
    color: #262626;
}

.card-counter {
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 7px;
    transition: 0.3s linear all;
    margin-bottom: 1.5rem;
}

.card-counter:hover {
    transition: 0.3s linear all;
}

.card-counter.primary {
    color: #FFF;
}

.card-counter.secondary {
    background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
    color: #FFF;
}

.card-counter.success {
    background: linear-gradient(to bottom right, #62fb62, #21a544) !important;
    color: #FFF;
}

.card-counter.info {
    background: linear-gradient(to bottom right, #00f2fe 0%, #1e63c3 100%) !important;
    color: #FFF;
}

.card-counter i {
    font-size: 4rem;
    opacity: 0.3;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.card-label {
    border: 0;
}

.card-label.list-group-item {
    border-bottom: 0;
}

.card-img-holder i {
    font-size: 45px;
}

.card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-aside-img {
    position: relative;
}

.card-aside-img img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.card-aside-img.wrap-border img {
    border: 1px solid rgba(167, 180, 201, 0.3);
    padding: 3px;
}

.card-aside-img a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-item-desc {
    padding: 15px;
}

.card-item-desc h6 {
    margin-top: 5px;
}

.card-blogs .card {
    border: none;
    box-shadow: none;
}

.card-blogs1 .card {
    box-shadow: none;
    border-bottom: 1px solid rgba(167, 180, 201, 0.3);
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.card-blogs1 .card:last-child {
    box-shadow: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-blogs1 .card-item-desc .card-item-price .newprice {
    font-weight: 600;
}

.card-blogs1 .card-item-desc .card-item-price .oldprice {
    font-size: 14px;
}

.card-blogs2 .card {
    border: none;
    box-shadow: none;
}

.card.card-collapsed .card-header {
    border-bottom: 0;
}

.card.bg-primary .card-header.border-primary {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}


@media (max-width: 991px) {
    .wrap-login100 {
        padding: 35px 90px 35px 85px;
    }

    .login100-pic {
        width: 35%;
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 30px 80px 30px 80px;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 25px 15px 25px 15px;
    }
}

